@model hey_url_Model.Url

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h4>Congratulations !!! your URL has been shortened</h4>
    <hr />
    <dl class="row">
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortUrl)
        </dt>
        <dd class="col-sm-10">
            <a href="@Html.DisplayFor(model => model.ShortUrl)">@Html.DisplayFor(model => model.ShortUrl)</a>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrinalUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrinalUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CretionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CretionDate)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
